@use "./base.scss";

// put your custom CSS here!


H2, {
border-bottom: 1px dotted #c03;
width: 100%;
display: block;
}

// This forces all images to be centered and have rounded corners
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    max-width: 90%
  }


// This allows me to add a caption inside "italics" after an image
// *This is the caption* <- place this directly after image link
img + em {
display: block;
text-align: center;
font-size: 1em;
color: DarkCyan;
}

// Centering image with a keyword in the source
// [[image.jpg#center]]

// img[src$='#center'] {
//    display: block;
//     margin: 1.0rem auto;
//     max-width: 100%;
//     height: auto;
//  }
